# User specific
./client-essensys-legacy

# Mac
.DS_Store

# Editor
.vscode/
.idea/

# Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Project specific binaries
server

# JS
node_modules/
dist/
.env
